<script src="../news/news-routing.module.ts"></script>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>newstab2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">newstab2</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="newstab1">
      <ion-icon name="newspaper"></ion-icon>
      Tesla
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="radio"></ion-icon>
      Radio
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
