<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>alertas</ion-title>
  </ion-toolbar>
</ion-header>-->

<app-header titulo="Alertas"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alertas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="presentAlert()">
    <ion-label>Alerta Básica</ion-label>
  </ion-button>
  <ion-button (click)="alertaButtons()">
    <ion-label>Alerta con botones</ion-label>
  </ion-button>
  <ion-button (click)="alertaInput()">
    <ion-label>Alerta con input</ion-label>
  </ion-button>
  <ion-button (click)="radioAlert()">
    <ion-label>Alerta con Opciones</ion-label>
  </ion-button>
</ion-content>
