<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" default-href="/" text="Regresar" color="primary"></ion-back-button>
  </ion-toolbar>
  <ion-searchbar
    [debounce]="500"
    placeholder="Buscar"
    (ionInput)="onSearchChange($event)"
    animated="true"
  ></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item *ngFor="let item of albums|filtro:query:'title'">
      <ion-label class="ion-text-capitalize">{{item.id}}. {{ item.title }}</ion-label>
    </ion-item>
  </ion-list>



</ion-content>
